/* .container {
  height: 100%;
  display: grid
  grid-gap: 3px
  grid-template-column: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-template-areas:
  "t h h h h h h h h h h h"
  "c c c c c c c c c c c c"
  "f f f f f f f f f f f f"
} */

.welcome > .welcome-image {
  width: 100%;
  display: block;
 }
 .logo > .logo-image {
  max-width: 15%;
  min-height: 100px;
  min-width: 100px;
  float: left
  padding: left 1px
 }
 .button {
  background-color:#608899;
  border: 1px;
  color: #152329;
  padding: 10px 20px;
  text-decoration: underline;
  display: inline-block;
  font-size: 13px;
  margin: 0px 2px;
  cursor: pointer;
  float: right;
}
 }
 body {
  background-image: linear-gradient(to top, #608899 0%,#8c8e8b, #417b7b,#0a5076 100%);
  height: 100%;
  margin: 3%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Lucida Grande';
}
@media (max-width: 900px) {
  form {
    width: 90%;
  }
}
}
 /* .title {
  background-image: linear-gradient(to top, #063B57 0%, #608899 100%);
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Lucida Grande';
} 
h1 {
  font-size:200%;
  margin: 1% auto;
  color: #242021
}
h2 {
  font-size:180%;
  margin: -1% auto;
  color: #242021
} */
/* 
.main1 {
  background-image: linear-gradient(to top, #608899 0%,#8c8e8b 100%);
  background-color: #608899;
  width: 70% auto;
  margin: 2%;
  padding: 1%;
  box-shadow: 10px 1px 94px -21px rgba(0,0,0,0.75);
  font-family: 'Lucida Grande';
  color: #242021
  font-weight: bold;
  font-size:150%;
}
.skills_section {
  background-image: linear-gradient(to top, #ce8b45 0%, #8c8e8b,#8c8e8b 100%);
  width: 60% auto;
  margin: 2%;
  margin-left:15%;
  margin-right: 15%;
  padding: 1%;
  box-shadow: 10px 1px 94px -21px rgba(0,0,0,0.75);
  font-family: 'Lucida Grande';
  color: #242021
  font-weight: bold;
  font-size:150%;
}*/

