title {
  background-image: linear-gradient(to top, #063B57 0%, #608899 100%);
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Lucida Grande';
}
img {
  max-width: 18%;
  min-height: 200px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle
 }
h1 {
  font-size:200%;
  margin: 1% auto;
  text-align: center;
  color: #242021
}
h2 {
  font-size:180%;
  margin: -1% auto;
  text-align: center;
  color: #242021
}
body {
  /* background-image: linear-gradient(to top, #063B57 0%, #608899 100%); */
  background-image: linear-gradient(to top, #608899 0%,#8c8e8b, #417b7b,#0a5076 100%);
  height: 100%;
  margin: 3%;
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Lucida Grande';
}
.main1 {
  background-image: linear-gradient(to top, #608899 0%,#8c8e8b 100%);
  background-color: #608899;
  width: 70% auto;
  margin: 2%;
  padding: 1%;
  box-shadow: 10px 1px 94px -21px rgba(0,0,0,0.75);
  font-family: 'Lucida Grande';
  color: #242021
  font-weight: bold;
  font-size:150%;
}
.skills_section {
  background-image: linear-gradient(to top, #ce8b45 0%, #8c8e8b,#8c8e8b 100%);
  width: 60% auto;
  margin: 2%;
  margin-left:15%;
  margin-right: 15%;
  padding: 1%;
  box-shadow: 10px 1px 94px -21px rgba(0,0,0,0.75);
  font-family: 'Lucida Grande';
  color: #242021
  font-weight: bold;
  font-size:150%;
}
a.button {
  background-color:#608899;
  border: none;
  color: #152329;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
b.button {
  background-color: rgb(175, 124, 76);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


@media (max-width: 900px) {
  form {
    width: 90%;
  }
  }