title {
  background-image: linear-gradient(to top, #063B57 0%, #608899 100%);
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Lucida Grande';
}
img {
  max-width: 18%;
  min-height: 200px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle
 }
h1 {
  font-size:200%;
  margin: 1% auto;
  text-align: center;
  color: #242021
}
h2 {
  font-size:180%;
  margin: -1% auto;
  text-align: center;
  color: #242021
}
body {
  /* background-image: linear-gradient(to top, #063B57 0%, #608899 100%); */
  background-image: linear-gradient(to top, #608899 0%,#8c8e8b, #417b7b,#0a5076 100%);
  height: 100%;
  margin: 3%;
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Lucida Grande';
}
.main1 {
  background-image: linear-gradient(to top, #608899 0%,#8c8e8b 100%);
  background-color: #608899;
  width: 70% auto;
  margin: 2%;
  padding: 1%;
  box-shadow: 10px 1px 94px -21px rgba(0,0,0,0.75);
  font-family: 'Lucida Grande';
  color: #242021
  font-weight: bold;
  font-size:150%;
}
.skills_section {
  background-image: linear-gradient(to top, #ce8b45 0%, #8c8e8b,#8c8e8b 100%);
  width: 60% auto;
  margin: 2%;
  margin-left:15%;
  margin-right: 15%;
  padding: 1%;
  box-shadow: 10px 1px 94px -21px rgba(0,0,0,0.75);
  font-family: 'Lucida Grande';
  color: #242021
  font-weight: bold;
  font-size:150%;
}
a.button {
  background-color:#608899;
  border: none;
  color: #152329;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
b.button {
  background-color: rgb(175, 124, 76);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


@media (max-width: 900px) {
  form {
    width: 90%;
  }
  }
/* form {
  background-color: #8A3B09;
  width: 50%;
  margin: 15% auto;
  padding: 4%;
  box-shadow: 10px 1px 94px -21px rgba(0,0,0,0.75);
  font-family: 'Courier New', cursive;

} */
/* form input {
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgb(116, 69, 35)
  border: 0;
  margin-bottom: 15px;
  padding: 10px;
  outline: none;
  border-bottom: 2px solid chocolate;
  font-family: 'Rammetto One', cursive;
} */
/* form input: :focus

form input:focus {
  transition: background 0.5s, border 0.5s;
  border-bottom: 1px solid #30cfd0;
  background-color: rgb(255, 240, 250); */
}
/* form button {
  display: block;
  width: 103.3%;
  background-image: linear-gradient(to right, #9face6 0%, #74ebd5 100%);
  padding: 10px;
  border: 0;
  text-transform:  uppercase;
  color: white;
  font-size: 15px;
} */
